[data-tabs="products-tabs"] {
    .tabs__nav-btn {
        font-size: 18px;
        line-height: math.div(21, 18);
        padding: 9px 25px 10px;
        border: none;
        transition: background-color $transitionSpeed $transitionFunction, color $transitionSpeed $transitionFunction;
    }

    .tabs__nav-btn--active {
        background-color: $orangeColor;
        color: $whiteColor;
    }

    .tabs__panel {
        display: none;
    }

    .tabs__panel--active {
        display: block;
    }

    .tabs__nav {
        margin: 0;
        display: flex;
        justify-content: center;

        @media (max-width:$smallTablet) {
            justify-content: flex-start;
            overflow: auto;
        }
    }

    .tabs__content {
        margin-top: 25px;
    }
}
