.tooltip {
    position: relative;
    display: inline-block;

    &__btn {

        &:hover,
        &:focus {
            &+.tooltip__content {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }

    &__content {
        position: absolute;
        left: 0;
        bottom: calc(100% + 5px);
        z-index: 3;
        padding: 7px 15px;
        width: max-content;
        max-width: 250px;
        box-shadow: 0 0 29px rgba($mainColor, 0.15);
        line-height: 200%;
        color: $whiteColor;
        background-color: $mainColor;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition:
            opacity $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;
    }
}
