<section class="about-company section-p">
    <div class="container">
        <h3 class="about-company__title title-2">
            О компании
        </h3>
        <div class="about-company__inner">

            <div class="tabs" data-tabs="about-company-tabs">
                <ul class="tabs__nav list-reset">
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn btn-reset" type="button">
                            Описание
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn btn-reset" type="button">
                            Как мы работаем
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn btn-reset" type="button">
                            Отзывы
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn btn-reset" type="button">
                            Сертификаты
                        </button>
                    </li>
                </ul>
                <div class="tabs__content">
                    <div class="tabs__panel">

                        <div class="company-descr">
                            <div class="company-descr__content">
                                <div class="company-descr__left">
                                    <a href="#" class="company-descr__logo">
                                        <img src="img/logo.svg" alt="Окна Хаус">
                                    </a>
                                    <p class="company-descr__text">
                                        Мы помогаем клиентам подбирать решения, учитывая пожежелания к характеристикам
                                        окна и его стоимости. Окно - это объект, которым Вы будете пользоваться много
                                        лет, поэтому для нас очень важно, чтобы Вы сделали правильный выбор.
                                    </p>
                                </div>
                                <div class="company-descr__right">
                                    <img src="img/company-descr-img.jpg" alt="Картинка">
                                </div>
                            </div>
                            <ul class="company-descr__list list-reset">
                                <li class="company-descr__item company-descr-item">
                                    <div class="company-descr-item__img">
                                        <img src="img/company-descr/company-descr-item-1.svg" alt="Картинка">
                                    </div>
                                    <div class="company-descr-item__content">
                                        <h4 class="company-descr-item__title">
                                            профессионализм
                                        </h4>
                                        <p class="company-descr-item__text">
                                            Бригада профессиональных
                                            мастеров по монтажу
                                            и обслуживанию
                                        </p>
                                    </div>
                                </li>
                                <li class="company-descr__item company-descr-item">
                                    <div class="company-descr-item__img">
                                        <img src="img/company-descr/company-descr-item-2.svg" alt="Картинка">
                                    </div>
                                    <div class="company-descr-item__content">
                                        <h4 class="company-descr-item__title">
                                            Ценообразование
                                        </h4>
                                        <p class="company-descr-item__text">
                                            Лучшие цены на рынке
                                            пластиковых окон
                                        </p>
                                    </div>
                                </li>
                                <li class="company-descr__item company-descr-item">
                                    <div class="company-descr-item__img">
                                        <img src="img/company-descr/company-descr-item-3.svg" alt="Картинка">
                                    </div>
                                    <div class="company-descr-item__content">
                                        <h4 class="company-descr-item__title">
                                            Мобильность
                                        </h4>
                                        <p class="company-descr-item__text">
                                            Заключение договора
                                            на дому
                                        </p>
                                    </div>
                                </li>
                                <li class="company-descr__item company-descr-item">
                                    <div class="company-descr-item__img">
                                        <img src="img/company-descr/company-descr-item-4.svg" alt="Картинка">
                                    </div>
                                    <div class="company-descr-item__content">
                                        <h4 class="company-descr-item__title">
                                            Лояльностье
                                        </h4>
                                        <p class="company-descr-item__text">
                                            99% клиентов рекомендуют
                                            нас своим друзьям
                                        </p>
                                    </div>
                                </li>
                                <li class="company-descr__item company-descr-item">
                                    <div class="company-descr-item__img">
                                        <img src="img/company-descr/company-descr-item-5.svg" alt="Картинка">
                                    </div>
                                    <div class="company-descr-item__content">
                                        <h4 class="company-descr-item__title">
                                            Скорость
                                        </h4>
                                        <p class="company-descr-item__text">
                                            Короткие сроки
                                            установки изделий
                                        </p>
                                    </div>
                                </li>
                                <li class="company-descr__item company-descr-item">
                                    <div class="company-descr-item__img">
                                        <img src="img/company-descr/company-descr-item-6.svg" alt="Картинка">
                                    </div>
                                    <div class="company-descr-item__content">
                                        <h4 class="company-descr-item__title">
                                            Служба качества
                                        </h4>
                                        <p class="company-descr-item__text">
                                            Безупречное качество
                                            и контроль изделий ПВХ
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <button type="submit" class="btn btn-reset btn--primary btn--icon company-descr__btn" data-graph-path="froze">
                                <svg>
                                    <use xlink:href="img/sprite.svg#calculation"></use>
                                </svg>
                                Оформить заявку на замер
                            </button>
                        </div>

                    </div>
                    <div class="tabs__panel">

                        <div class="how-working">
                            <ul class="how-working__list list-reset">
                                <li class="how-working__item how-working-item">
                                    <div class="how-working-item__img">
                                        <img src="img/how-working/how-working-1.svg" alt="Картинка">
                                    </div>
                                    <h3 class="how-working-item__name">
                                        Бесплатно приедем
                                    </h3>
                                    <p class="how-working-item__descr">
                                        Выезжаем бесплатно во все
                                        города Московской области
                                    </p>
                                </li>
                                <li class="how-working__item how-working-item">
                                    <div class="how-working-item__img">
                                        <img src="img/how-working/how-working-2.svg" alt="Картинка">
                                    </div>
                                    <h3 class="how-working-item__name">
                                        Выезжаем ежедневно
                                    </h3>
                                    <p class="how-working-item__descr">
                                        С 9 до 21 без выходных
                                        и праздников
                                    </p>
                                </li>
                                <li class="how-working__item how-working-item">
                                    <div class="how-working-item__img">
                                        <img src="img/how-working/how-working-3.svg" alt="Картинка">
                                    </div>
                                    <h3 class="how-working-item__name">
                                        Образцы с собой
                                    </h3>
                                    <p class="how-working-item__descr">
                                        Покажем образцы профильных
                                        систем и материалов отделки
                                    </p>
                                </li>
                                <li class="how-working__item how-working-item">
                                    <div class="how-working-item__img">
                                        <img src="img/how-working/how-working-4.svg" alt="Картинка">
                                    </div>
                                    <h3 class="how-working-item__name">
                                        Стоимость
                                    </h3>
                                    <p class="how-working-item__descr">
                                        Называем точную стоимость
                                        заказа на месте
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="tabs__panel">

                        <div class="reviews">
                            <div class="swiper reviews-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide reviews-slide">
                                        <div class="reviews-slide__top">
                                            <div class="reviews-slide__left">
                                                <span class="reviews-slide__name">
                                                    Раиса Михайлова
                                                </span>
                                                <time class="reviews-slide__date" datetime="2021-06-24">
                                                    24.06.2021
                                                </time>
                                                <span class="reviews-slide__contract">
                                                    Договор №123456
                                                </span>
                                            </div>
                                            <button type="submit"
                                                class="btn btn-reset btn--primary btn--icon reviews-slide__btn" data-graph-path="add-review">
                                                <svg>
                                                    <use xlink:href="img/sprite.svg#message"></use>
                                                </svg>
                                                Оставить отзыв
                                            </button>
                                        </div>
                                        <div class="reviews-slide__descr">
                                            <p>
                                                Огромное СПАСИБО всей команде Дизайн-Окно! В июне 2021 заказывала
                                                переостекление + отделка балкона первый раз и так все удачно - быстро,
                                                качественно. Все прошло отлично, в соответствии с условиями договора.
                                                Замерщик приехал как оговорено без опозданий, произвел замер лазерным
                                                уровнем, все подробно рассказал по профилю и комплектующим. Предоплата
                                                составила 20%, остаток - по факту. Соотношение цена/качество в сравнении
                                                с конкурентами. Доставка точно в срок, за 3 дня все установили. Итог -
                                                красивые окна. Будем зимой проверять на прочность :)
                                            </p>
                                            <p>
                                                Большая благодарность за отлично проведённую работу! Замерщик по вызову
                                                пришёл быстро, всё хорошо объяснил , окна пришли в соответствии со
                                                согласованной датой, поднятие в квартиру прошла очень хорошо ,
                                                монтажники справились со своей работой на отлично! Все прошло в
                                                позитиве, соотношение цены и качества хорошее. Отличная команда!
                                                Спасибо!!!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide reviews-slide">
                                        <div class="reviews-slide__top">
                                            <div class="reviews-slide__left">
                                                <span class="reviews-slide__name">
                                                    Раиса Михайлова
                                                </span>
                                                <time class="reviews-slide__date" datetime="2021-06-24">
                                                    24.06.2021
                                                </time>
                                                <span class="reviews-slide__contract">
                                                    Договор №123456
                                                </span>
                                            </div>
                                            <button type="submit"
                                                class="btn btn-reset btn--primary btn--icon reviews-slide__btn" data-graph-path="add-review">
                                                <svg>
                                                    <use xlink:href="img/sprite.svg#message"></use>
                                                </svg>
                                                Оставить отзыв
                                            </button>
                                        </div>
                                        <div class="reviews-slide__descr">
                                            <p>
                                                Огромное СПАСИБО всей команде Дизайн-Окно! В июне 2021 заказывала
                                                переостекление + отделка балкона первый раз и так все удачно - быстро,
                                                качественно. Все прошло отлично, в соответствии с условиями договора.
                                                Замерщик приехал как оговорено без опозданий, произвел замер лазерным
                                                уровнем, все подробно рассказал по профилю и комплектующим. Предоплата
                                                составила 20%, остаток - по факту. Соотношение цена/качество в сравнении
                                                с конкурентами. Доставка точно в срок, за 3 дня все установили. Итог -
                                                красивые окна. Будем зимой проверять на прочность :)
                                            </p>
                                            <p>
                                                Большая благодарность за отлично проведённую работу! Замерщик по вызову
                                                пришёл быстро, всё хорошо объяснил , окна пришли в соответствии со
                                                согласованной датой, поднятие в квартиру прошла очень хорошо ,
                                                монтажники справились со своей работой на отлично! Все прошло в
                                                позитиве, соотношение цены и качества хорошее. Отличная команда!
                                                Спасибо!!!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="reviews-arrow-prev products-arrow slider-arrow-primary slider-arrow-primary--prev">
                                <svg>
                                    <use xlink:href="img/sprite.svg#products-arrow"></use>
                                </svg>
                            </div>
                            <div
                                class="reviews-arrow-next products-arrow slider-arrow-primary slider-arrow-primary--next">
                                <svg>
                                    <use xlink:href="img/sprite.svg#products-arrow"></use>
                                </svg>
                            </div>
                        </div>

                    </div>
                    <div class="tabs__panel">4</div>
                </div>
            </div>
        </div>
    </div>
</section>
