<section class="answers-questions section-m">
    <div class="container">
        <div class="answers-questions__inner">
            <h2 class="answers-questions__title title-2">
                Вопрос-ответ
            </h2>

            <ul data-spollers data-one-spoller class="spollers__list list-reset answers-questions__spollers">
                <li class="spollers__item">
                    <button tabindex="-1" type="button" data-spoller class="spollers__title">
                        <span>
                            Сколько по времени занимает изготовление пластиковых окон?
                        </span>
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="spollers__content">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit a voluptate laboriosam cum
                            possimus quo similique debitis consequatur qui porro?
                        </p>
                    </div>
                </li>
                <li class="spollers__item">
                    <button tabindex="-1" type="button" data-spoller class="spollers__title">
                        <span>
                            Какие существуют способы оплаты?
                        </span>
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="spollers__content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit velit, rem omnis magnam, minus
                            sapiente, beatae ullam blanditiis quas recusandae ex ad temporibus explicabo enim! Maiores
                            eveniet magnam nostrum quibusdam.
                        </p>
                    </div>
                </li>
                <li class="spollers__item">
                    <button tabindex="-1" type="button" data-spoller class="spollers__title">
                        <span>
                            Где я могу посмотреть образцы?
                        </span>
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="spollers__content">
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et sit odit nemo, consequatur ipsa
                            eius ex. Obcaecati sed quisquam cumque architecto officia rem odit totam hic eaque nam
                            laboriosam harum asperiores eum quas ducimus doloribus rerum corrupti, aliquam quibusdam
                            impedit
                            provident ipsam deleniti fugiat. Provident ducimus accusamus rem perferendis! Dolor.
                        </p>
                    </div>
                </li>
                <li class="spollers__item">
                    <button tabindex="-1" type="button" data-spoller class="spollers__title">
                        <span>
                            Зачем вызывать замерщика? Я могу дать размеры
                        </span>
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="spollers__content">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit a voluptate laboriosam cum
                            possimus quo similique debitis consequatur qui porro?
                        </p>
                    </div>
                </li>
                <li class="spollers__item">
                    <button tabindex="-1" type="button" data-spoller class="spollers__title">
                        <span>
                            Хотелось бы отделать балкон. Поможете?
                        </span>
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="spollers__content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit velit, rem omnis magnam, minus
                            sapiente, beatae ullam blanditiis quas recusandae ex ad temporibus explicabo enim! Maiores
                            eveniet magnam nostrum quibusdam.
                        </p>
                    </div>
                </li>
                <li class="spollers__item">
                    <button tabindex="-1" type="button" data-spoller class="spollers__title">
                        <span>
                            Мне надо нанимать грузчиков для подъема?
                        </span>
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="spollers__content">
                        <p>
                            Нет, команда мастеров все сами аккуратно доставят и внесут.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
