<section class="contacts section-m">
    <div class="container">
        <h2 class="contacts__title title-2">
            Контакты
        </h2>
        <div class="contacts__inner">
            <div class="contacts__left contacts-left">
                <div class="contacts-left__phones">
                    <span>Бесплатная консультация:</span>
                    <svg>
                        <use xlink:href="img/sprite.svg#phones"></use>
                    </svg>
                    <a href="tel:84932343140">
                        8 (4932) 34 - 31 - 40
                    </a>
                    <a href="tel:89051093140">
                        8 (905) 109 - 31 - 40
                    </a>
                </div>
                <div class="contacts-left__address">
                    <svg>
                        <use xlink:href="img/sprite.svg#mark-2"></use>
                    </svg>
                    <span>
                        г. Иваново, ул. Генерала Хлебникова, д.54, оф.303
                    </span>
                </div>
                <div class="contacts-left__email">
                    <svg>
                        <use xlink:href="img/sprite.svg#email"></use>
                    </svg>
                    <a href="mailto:okna@haus.ru">
                        okna@haus.ru
                    </a>
                </div>
                <div class="contacts-left__descr">
                    Установку должны выполнять только эксперты. Нам доверяют сотни семей.
                    Узнайте поробнее, какие решения вам подходят.
                    Вы можете приобрести недорогие товары
                    при гарантированно
                    высоком качестве.
                </div>
                <ul class="contacts-left__social social list-reset">
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--vk"
                            aria-label="Наша страничка во Вконтакте">
                            <svg>
                                <use xlink:href="img/sprite.svg#vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--fb"
                            aria-label="Наша страничка в Фейсбуке">
                            <svg>
                                <use xlink:href="img/sprite.svg#fb"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--inst"
                            aria-label="Наша страничка в Инстаграме">
                            <svg>
                                <use xlink:href="img/sprite.svg#inst"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--tw"
                            aria-label="Наша страничка в Твиттере">
                            <svg>
                                <use xlink:href="img/sprite.svg#tw"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--yt"
                            aria-label="Наша страничка в Ютубе">
                            <svg>
                                <use xlink:href="img/sprite.svg#yt"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--ok"
                            aria-label="Наша страничка в Одноклассниках">
                            <svg>
                                <use xlink:href="img/sprite.svg#ok"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <img src="img/contacts-img.png" class="contacts-left__img" alt="Картинка">
            </div>
            <div class="contacts__right contacts-right">


                <form action="#" class="contacts-right__form contacts-right-form form-primary">
                    <h2 class="form-primary__title">
                        Остались вопросы?
                    </h2>
                    <div class="form-primary__box">
                        <label class="form-primary__label">
                            <input type="text" name="name" class="input-reset form-primary__input"
                                placeholder="Ваше имя">
                        </label>
                        <label class="form-primary__label">
                            <input type="email" name="Email" class="input-reset form-primary__input"
                                placeholder="E-mail">
                        </label>
                        <label class="form-primary__label">
                            <textarea name="textarea" class="input-reset form-primary__input form-primary__textarea"
                                placeholder="Ваш отзыв"></textarea>
                        </label>
                    </div>
                    <div class="checkbox-secondary checkbox form-primary__checkbox">
                        <input id="contacts-right_c-1" class="checkbox__input" type="checkbox" value="1">
                        <label for="contacts-right_c-1" class="checkbox__label">
                            <span class="checkbox__text">
                                Я согласен(на) на обработку <span>персональных данных</span>
                            </span>
                        </label>
                    </div>
                    <button class="btn btn-reset btn--secondary form-primary__btn">Отправить сообщение</button>
                </form>


            </div>
        </div>
    </div>
</section>
