<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <a href="#" class="footer__logo">
                    <img src="img/logo.svg" alt="Окна Хаус">
                </a>
                <p class="footer__copyright">
                    © ООО “Окна Хаус”, 2011 - 2022
                </p>
            </div>
            <div class="footer__right">
                <a href="#">
                    Политика кофиденциальности
                </a>
                <a href="#">
                    Пользовательское соглашение
                </a>
            </div>
        </div>
    </div>
</footer>
