<section class="guarantee section-m">
    <div class="container">
        <div class="guarantee__inner">
            <div class="guarantee__title">
                <img src="img/guarantee-title.png" alt="Гарантия качества">
            </div>
            <ul class="guarantee__list list-reset">
                <li class="guarantee__item guarantee-item">
                    <div class="guarantee-item__img">
                        <img src="img/guarantee/guarantee-1.svg" alt="Картинка">
                    </div>
                    <p class="guarantee-item__descr">
                        Сертифицированный производитель Rehau
                    </p>
                </li>
                <li class="guarantee__item guarantee-item">
                    <div class="guarantee-item__img">
                        <img src="img/guarantee/guarantee-2.svg" alt="Картинка">
                    </div>
                    <p class="guarantee-item__descr">
                        Инновационный
                        оконный завод
                    </p>
                </li>
                <li class="guarantee__item guarantee-item">
                    <div class="guarantee-item__img">
                        <img src="img/guarantee/guarantee-3.svg" alt="Картинка">
                    </div>
                    <p class="guarantee-item__descr">
                        Лидер по переработке
                        профилей Rehau в России
                    </p>
                </li>
                <li class="guarantee__item guarantee-item">
                    <div class="guarantee-item__img">
                        <img src="img/guarantee/guarantee-4.svg" alt="Картинка">
                    </div>
                    <p class="guarantee-item__descr">
                        Высокотехнологичное
                        автоматизированное
                        оборудование
                    </p>
                </li>
                <li class="guarantee__item guarantee-item">
                    <div class="guarantee-item__img">
                        <img src="img/guarantee/guarantee-5.svg" alt="Картинка">
                    </div>
                    <p class="guarantee-item__descr">
                        Широкий
                        ассортимент
                        продукции
                    </p>
                </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-reset btn--secondary btn--icon guarantee__btn" data-menu-item>
            <svg>
                <use xlink:href="img/sprite.svg#calculator"></use>
            </svg>
            Заказать расчет
        </button>
    </div>
</section>
