<section class="hero" style="background-image: url('img/hero-bg.jpg');">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__left hero-left">
                <h1 class="title-1 hero-left__title">
                    <span>
                        Окна Хаус -
                    </span>
                    Профессиональный подход
                    к остеклению
                </h1>
                <ul class="hero-left__list list-reset">
                    <li class="hero-left__item">
                        <img src="img/hero-img-1.svg" class="hero-left__img" alt="Картинка">
                        <div class="hero-left__descr">
                            Современные окна
                            и балконные конструкции
                            по доступным ценам
                        </div>
                    </li>
                    <li class="hero-left__item">
                        <img src="img/hero-img-2.svg" class="hero-left__img" alt="Картинка">
                        <div class="hero-left__descr">
                            Квалифицированный
                            подход к решению задач
                            любой сложности
                        </div>
                    </li>
                    <li class="hero-left__item">
                        <img src="img/hero-img-3.svg" class="hero-left__img" alt="Картинка">
                        <div class="hero-left__descr">
                            Гарантия
                            высочайшего качества
                            нашей продукции
                        </div>
                    </li>
                </ul>
            </div>
            <div class="hero__right hero-right">
                <form action="#" class="hero-right__form form-primary">
                    <h2 class="form-primary__title">
                        Вызвать замершика на дом
                    </h2>
                    <div class="form-primary__box">
                        <label class="form-primary__label">
                            <input type="text" name="name" class="input-reset form-primary__input"
                                placeholder="Представьтесь, пожалуйста">
                        </label>
                        <label class="form-primary__label">
                            <input type="tel" name="phone" class="input-reset form-primary__input"
                                placeholder="Номер телефона">
                        </label>
                        <label class="form-primary__label">
                            <input type="email" name="Email" class="input-reset form-primary__input" placeholder="E-mail">
                        </label>
                    </div>
                    <label class="custom-checkbox-primary form-primary__checkbox">
                        <input type="checkbox" class="custom-checkbox-primary__field">
                        <span class="custom-checkbox-primary__content">
                            Согласен на обработку персональных данных
                            в соответствии с <span>политикой конфиденциальности</span>
                        </span>
                    </label>
                    <button class="btn btn-reset btn--primary form-primary__btn">Отправить заявку</button>
                </form>
            </div>
        </div>
    </div>
</section>
