<section class="our-services section-p">
    <div class="container">
        <h2 class="our-services__title title-2">
            Наши услуги
        </h2>
        <ul class="our-services__list list-reset">
            <li class="our-services__item our-services-item"
                style="background-image: url('img/our-services/our-services-bg-1.jpg');">
                <a href="#" class="our-services-item__inner">
                    <div class="our-services-item__content">
                        <div class="our-services-item__top">
                            <img src="img/our-services/our-services-1.svg" class="our-services-item__img"
                                alt="Установка пластиковых окон">
                            <h3 class="our-services-item__title">
                                Установка пластиковых окон
                            </h3>
                        </div>
                        <p class="our-services-item__descr">
                            Устанавливаем пластиковые окна Rehau
                            от проверенного производителя
                            с гарантией качества
                        </p>
                    </div>
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li class="our-services__item our-services-item"
                style="background-image: url('img/our-services/our-services-bg-2.jpg');">
                <a href="#" class="our-services-item__inner">
                    <div class="our-services-item__content">
                        <div class="our-services-item__top">
                            <img src="img/our-services/our-services-2.svg" class="our-services-item__img"
                                alt="Остекление балконов и лоджий">
                            <h3 class="our-services-item__title">
                                Остекление балконов и лоджий
                            </h3>
                        </div>
                        <p class="our-services-item__descr">
                            Занимаемся остеклением и отделкой
                            балконов и лоджий. Теплое и холодное остекление, изготовление выносов и крыш. Беремся за
                            сложные
                            объекты
                        </p>
                    </div>
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li class="our-services__item our-services-item"
                style="background-image: url('img/our-services/our-services-bg-3.jpg');">
                <a href="#" class="our-services-item__inner">
                    <div class="our-services-item__content">
                        <div class="our-services-item__top">
                            <img src="img/our-services/our-services-3.svg" class="our-services-item__img"
                                alt="Остекление коттеджей и дач">
                            <h3 class="our-services-item__title">
                                Остекление коттеджей и дач
                            </h3>
                        </div>
                        <p class="our-services-item__descr">
                            Остекление и отделка под ключ:
                            от коттеджей и дач до террас
                            и беседок. Выделяем личного
                            технолога под каждый объект
                        </p>
                    </div>
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li class="our-services__item our-services-item"
                style="background-image: url('img/our-services/our-services-bg-4.jpg');">
                <a href="#" class="our-services-item__inner">
                    <div class="our-services-item__content">
                        <div class="our-services-item__top">
                            <img src="img/our-services/our-services-4.svg" class="our-services-item__img"
                                alt="Остекление корпоративных объектов ">
                            <h3 class="our-services-item__title">
                                Остекление корпоративных объектов
                            </h3>
                        </div>
                        <p class="our-services-item__descr">
                            Реализуем сложные проекты
                            по остеклению торговых центров,
                            ресторанов, производственных помещений
                            и офисов
                        </p>
                    </div>
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>
