<div class="graph-modal">
    <div class="graph-modal__container add-review modal-primary__container" role="dialog" aria-modal="true"
        data-graph-target="add-review">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content add-review__content">


            <form action="#" class="add-review__form add-review-form form-primary">
                <h2 class="form-primary__title">
                    Добавьте Ваш отзыв
                </h2>
                <div class="form-primary__box">
                    <label class="form-primary__label">
                        <input type="text" name="name" class="input-reset form-primary__input" placeholder="Ваше имя">
                    </label>
                    <label class="form-primary__label">
                        <input type="number" name="number" class="input-reset form-primary__input"
                            placeholder="Номер договора">
                    </label>
                    <label class="form-primary__label">
                        <input type="email" name="Email" class="input-reset form-primary__input" placeholder="E-mail">
                    </label>
                    <label class="form-primary__label">
                        <textarea name="textarea" class="input-reset form-primary__input form-primary__textarea"
                            placeholder="Ваш отзыв"></textarea>
                    </label>
                </div>
                <button class="btn btn-reset btn--primary form-primary__btn">Оставить отзыв</button>
            </form>


        </div>
    </div>
</div>
