<div class="graph-modal">
    <div class="graph-modal__container add-review modal-primary__container" role="dialog" aria-modal="true"
        data-graph-target="add-review">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content add-review__content">


            <form action="#" class="add-review__form add-review-form form-primary">
                <h2 class="form-primary__title">
                    <svg>
                        <use xlink:href="img/sprite.svg#message"></use>
                    </svg>
                    Добавьте Ваш отзыв
                </h2>
                <div class="form-primary__box">
                    <label class="form-primary__label">
                        <input type="text" name="name" class="input-reset form-primary__input" placeholder="Ваше имя">
                    </label>
                    <label class="form-primary__label">
                        <input type="number" name="number" class="input-reset form-primary__input"
                            placeholder="Номер договора">
                    </label>
                    <label class="form-primary__label">
                        <input type="email" name="Email" class="input-reset form-primary__input" placeholder="E-mail">
                    </label>
                    <label class="form-primary__label">
                        <textarea name="textarea" class="input-reset form-primary__input form-primary__textarea"
                            placeholder="Ваш отзыв"></textarea>
                    </label>
                </div>
                <div class="checkbox-secondary checkbox form-primary__checkbox">
                    <input id="add-review_c-1" class="checkbox__input" type="checkbox" value="1">
                    <label for="add-review_c-1" class="checkbox__label">
                        <span class="checkbox__text">
                            Я согласен(на) на обработку персональных данных
                        </span>
                    </label>
                </div>
                <button class="btn btn-reset btn--primary form-primary__btn">Оставить отзыв</button>
            </form>


        </div>
    </div>
    <div class="graph-modal__container froze modal-primary__container" role="dialog" aria-modal="true"
        data-graph-target="froze">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content froze__content">


            <form action="#" class="froze__form froze-form form-primary">
                <h2 class="form-primary__title">
                    <svg>
                        <use xlink:href="img/sprite.svg#calculation"></use>
                    </svg>
                    Вызвать замерщика на дом
                </h2>
                <div class="form-primary__box">
                    <label class="form-primary__label">
                        <input type="text" name="name" class="input-reset form-primary__input" placeholder="Ваше имя">
                    </label>
                    <label class="form-primary__label">
                        <input type="tel" name="tel" class="input-reset form-primary__input"
                            placeholder="Номер телефона">
                    </label>
                    <label class="form-primary__label">
                        <input type="email" name="Email" class="input-reset form-primary__input" placeholder="E-mail">
                    </label>
                </div>
                <div class="checkbox-secondary checkbox form-primary__checkbox">
                    <input id="froze_c-1" class="checkbox__input" type="checkbox" value="1">
                    <label for="froze_c-1" class="checkbox__label">
                        <span class="checkbox__text">
                            Я согласен(на) на обработку <span>персональных данных</span>
                        </span>
                    </label>
                </div>
                <button class="btn btn-reset btn--primary form-primary__btn">Отправить заявку</button>
            </form>


        </div>
    </div>
    <div class="graph-modal__container calculation modal-primary__container" role="dialog" aria-modal="true"
        data-graph-target="calculation">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content calculation__content">


            <form action="#" class="calculation__form calculation-form form-primary">
                <h2 class="form-primary__title">
                    <svg>
                        <use xlink:href="img/sprite.svg#calculator"></use>
                    </svg>
                    Заказать расчет
                </h2>
                <div class="form-primary__box">
                    <label class="form-primary__label">
                        <input type="text" name="name" class="input-reset form-primary__input" placeholder="Ваше имя">
                    </label>
                    <label class="form-primary__label">
                        <input type="tel" name="tel" class="input-reset form-primary__input"
                            placeholder="Номер телефона">
                    </label>
                    <label class="form-primary__label">
                        <input type="email" name="Email" class="input-reset form-primary__input" placeholder="E-mail">
                    </label>
                </div>
                <div class="checkbox-secondary checkbox form-primary__checkbox">
                    <input id="calculation_c-1" class="checkbox__input" type="checkbox" value="1">
                    <label for="calculation_c-1" class="checkbox__label">
                        <span class="checkbox__text">
                            Я согласен(на) на обработку <span>персональных данных</span>
                        </span>
                    </label>
                </div>
                <button class="btn btn-reset btn--primary form-primary__btn">Заказать расчет</button>
            </form>


        </div>
    </div>
</div>
