<div class="graph-modal">
    <div class="graph-modal__container add-review modal-primary__container" role="dialog" aria-modal="true"
        data-graph-target="add-review">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content add-review__content">


            <form action="#" class="add-review__form add-review-form form-primary">
                <h2 class="form-primary__title">
                    <svg>
                        <use xlink:href="img/sprite.svg#message"></use>
                    </svg>
                    Добавьте Ваш отзыв
                </h2>
                <div class="form-primary__box">
                    <label class="form-primary__label">
                        <input type="text" name="name" class="input-reset form-primary__input" placeholder="Ваше имя">
                    </label>
                    <label class="form-primary__label">
                        <input type="number" name="number" class="input-reset form-primary__input"
                            placeholder="Номер договора">
                    </label>
                    <label class="form-primary__label">
                        <input type="email" name="Email" class="input-reset form-primary__input" placeholder="E-mail">
                    </label>
                    <label class="form-primary__label">
                        <textarea name="textarea" class="input-reset form-primary__input form-primary__textarea"
                            placeholder="Ваш отзыв"></textarea>
                    </label>
                </div>
                <div class="checkbox-secondary checkbox form-primary__checkbox">
                    <input id="add-review_c-1" class="checkbox__input" type="checkbox" value="1">
                    <label for="add-review_c-1" class="checkbox__label">
                        <span class="checkbox__text">
                            Я согласен(на) на обработку персональных данных
                        </span>
                    </label>
                </div>
                <button class="btn btn-reset btn--primary form-primary__btn">Оставить отзыв</button>
            </form>


        </div>
    </div>
    <div class="graph-modal__container froze modal-primary__container" role="dialog" aria-modal="true"
        data-graph-target="froze">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content froze__content">


            <form action="#" class="froze__form froze-form form-primary">
                <h2 class="form-primary__title">
                    <svg>
                        <use xlink:href="img/sprite.svg#calculation"></use>
                    </svg>
                    Вызвать замерщика на дом
                </h2>
                <div class="form-primary__box">
                    <label class="form-primary__label">
                        <input type="text" name="name" class="input-reset form-primary__input" placeholder="Ваше имя">
                    </label>
                    <label class="form-primary__label">
                        <input type="tel" name="tel" class="input-reset form-primary__input"
                            placeholder="Номер телефона">
                    </label>
                    <label class="form-primary__label">
                        <input type="email" name="Email" class="input-reset form-primary__input" placeholder="E-mail">
                    </label>
                </div>
                <div class="checkbox-secondary checkbox form-primary__checkbox">
                    <input id="froze_c-1" class="checkbox__input" type="checkbox" value="1">
                    <label for="froze_c-1" class="checkbox__label">
                        <span class="checkbox__text">
                            Я согласен(на) на обработку <span>персональных данных</span>
                        </span>
                    </label>
                </div>
                <button class="btn btn-reset btn--primary form-primary__btn">Отправить заявку</button>
            </form>


        </div>
    </div>
    <div class="graph-modal__container calculation modal-primary__container" role="dialog" aria-modal="true"
        data-graph-target="calculation">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content calculation__content">


            <form action="#" class="calculation__form calculation-form form-primary">
                <h2 class="form-primary__title">
                    <svg>
                        <use xlink:href="img/sprite.svg#calculator"></use>
                    </svg>
                    Заказать расчет
                </h2>
                <div class="form-primary__box">
                    <label class="form-primary__label">
                        <input type="text" name="name" class="input-reset form-primary__input" placeholder="Ваше имя">
                    </label>
                    <label class="form-primary__label">
                        <input type="tel" name="tel" class="input-reset form-primary__input"
                            placeholder="Номер телефона">
                    </label>
                    <label class="form-primary__label">
                        <input type="email" name="Email" class="input-reset form-primary__input" placeholder="E-mail">
                    </label>
                </div>
                <div class="checkbox-secondary checkbox form-primary__checkbox">
                    <input id="calculation_c-1" class="checkbox__input" type="checkbox" value="1">
                    <label for="calculation_c-1" class="checkbox__label">
                        <span class="checkbox__text">
                            Я согласен(на) на обработку <span>персональных данных</span>
                        </span>
                    </label>
                </div>
                <button class="btn btn-reset btn--primary form-primary__btn">Заказать расчет</button>
            </form>


        </div>
    </div>
    <div class="graph-modal__container portfolio-modal modal-secondary__container" role="dialog" aria-modal="true"
        data-graph-target="portfolio-1">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content portfolio-modal__content">
            <div class="portfolio-modal__top">
                <div class="portfolio-modal__left">
                    <div class="swiper portfolio-modal-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide portfolio-modal-slide">
                                <img src="img/portfolio/portfolio-1.jpg" alt="Фото 1">
                            </div>
                            <div class="swiper-slide portfolio-modal-slide">
                                <img src="img/portfolio/portfolio-2.jpg" alt="Фото 2">
                            </div>
                            <div class="swiper-slide portfolio-modal-slide">
                                <img src="img/portfolio/portfolio-3.jpg" alt="Фото 3">
                            </div>
                            <div class="swiper-slide portfolio-modal-slide">
                                <img src="img/portfolio/portfolio-4.jpg" alt="Фото 4">
                            </div>
                        </div>
                        <div class="portfolio-modal-slider__pagination"></div>
                    </div>
                </div>
                <div class="portfolio-modal__right portfolio-modal-right">
                    <div class="portfolio-modal-right__header">
                        <time class="portfolio-modal-right__date" datetime="2021-10-08">
                            08.10.2021
                        </time>
                        <p class="portfolio-modal-right__address">
                            <img loading="lazy" src="img/mark-1.svg" width="30" height="39" alt="Геолокация">
                            <span>
                                г Иваново, ул Ташкентская, д 4 к 1
                            </span>
                        </p>
                    </div>
                    <div class="portfolio-modal-right__body">
                        <h2 class="portfolio-modal-right__title title-2">
                            Монтаж окна и балконного блока
                        </h2>
                        <p class="portfolio-modal-right__descr">
                            <span>
                                Что делали
                            </span>
                            <span>
                                Профильная система Rehau Blitz Фурнитура Roto NT
                            </span>
                        </p>
                        <p class="portfolio-modal-right__descr">
                            <span>
                                Категории объекта:
                            </span>
                            <span>
                                Окна Балконный блок
                            </span>
                        </p>
                    </div>
                    <div class="portfolio-modal-right__footer">
                        <button type="submit" class="btn btn-reset btn--primary btn--icon portfolio-modal-right__btn"
                            data-graph-path="froze">
                            <svg>
                                <use xlink:href="img/sprite.svg#calculation"></use>
                            </svg>
                            Заявка на замер
                        </button>
                        <button type="submit" class="btn btn-reset btn--secondary btn--icon portfolio-modal-right__btn">
                            <svg>
                                <use xlink:href="img/sprite.svg#dollar"></use>
                            </svg>
                            Узнать цену
                        </button>
                    </div>
                </div>
            </div>
            <div class="portfolio-modal__bottom portfolio-modal-map">

            </div>
        </div>
    </div>
    <div class="graph-modal__container portfolio-modal modal-secondary__container" role="dialog" aria-modal="true"
        data-graph-target="portfolio-2">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content portfolio-modal__content">
            <div class="portfolio-modal__top">
                <div class="portfolio-modal__left">
                    <div class="swiper portfolio-modal-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide portfolio-modal-slide">
                                <img src="img/portfolio/portfolio-1.jpg" alt="Фото 1">
                            </div>
                            <div class="swiper-slide portfolio-modal-slide">
                                <img src="img/portfolio/portfolio-2.jpg" alt="Фото 2">
                            </div>
                            <div class="swiper-slide portfolio-modal-slide">
                                <img src="img/portfolio/portfolio-3.jpg" alt="Фото 3">
                            </div>
                            <div class="swiper-slide portfolio-modal-slide">
                                <img src="img/portfolio/portfolio-4.jpg" alt="Фото 4">
                            </div>
                        </div>
                        <div class="portfolio-modal-slider__pagination"></div>
                    </div>
                </div>
                <div class="portfolio-modal__right portfolio-modal-right">
                    <div class="portfolio-modal-right__header">
                        <time class="portfolio-modal-right__date" datetime="2021-10-08">
                            08.10.2021
                        </time>
                        <p class="portfolio-modal-right__address">
                            <img loading="lazy" src="img/mark-1.svg" width="30" height="39" alt="Геолокация">
                            <span>
                                г Иваново, ул Ташкентская, д 4 к 1
                            </span>
                        </p>
                    </div>
                    <div class="portfolio-modal-right__body">
                        <h2 class="portfolio-modal-right__title title-2">
                            Монтаж окна и балконного блока
                        </h2>
                        <p class="portfolio-modal-right__descr">
                            <span>
                                Что делали
                            </span>
                            <span>
                                Профильная система Rehau Blitz Фурнитура Roto NT
                            </span>
                        </p>
                        <p class="portfolio-modal-right__descr">
                            <span>
                                Категории объекта:
                            </span>
                            <span>
                                Окна Балконный блок
                            </span>
                        </p>
                    </div>
                    <div class="portfolio-modal-right__footer">
                        <button type="submit" class="btn btn-reset btn--primary btn--icon portfolio-modal-right__btn"
                            data-graph-path="froze">
                            <svg>
                                <use xlink:href="img/sprite.svg#calculation"></use>
                            </svg>
                            Заявка на замер
                        </button>
                        <button type="submit" class="btn btn-reset btn--secondary btn--icon portfolio-modal-right__btn">
                            <svg>
                                <use xlink:href="img/sprite.svg#dollar"></use>
                            </svg>
                            Узнать цену
                        </button>
                    </div>
                </div>
            </div>
            <div class="portfolio-modal__bottom portfolio-modal-map">

            </div>
        </div>
    </div>
</div>
