<section class="portfolio section-p">
    <div class="container">
        <h2 class="portfolio__title title-2">
            Портфолио
        </h2>
        <div class="portfolio__inner">
            <div class="swiper portfolio-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide portfolio-slide">
                        <button class="portfolio-slide__btn btn btn-reset" data-graph-path="portfolio-1">
                            <img src="img/portfolio/portfolio-1.jpg" alt="Фото 1">
                        </button>
                    </div>
                    <div class="swiper-slide portfolio-slide">
                        <button class="portfolio-slide__btn btn btn-reset" data-graph-path="portfolio-2">
                            <img src="img/portfolio/portfolio-2.jpg" alt="Фото 2">
                        </button>
                    </div>
                    <div class="swiper-slide portfolio-slide">
                        <button class="portfolio-slide__btn btn btn-reset" data-graph-path="portfolio-1">
                            <img src="img/portfolio/portfolio-3.jpg" alt="Фото 3">
                        </button>
                    </div>
                    <div class="swiper-slide portfolio-slide">
                        <button class="portfolio-slide__btn btn btn-reset" data-graph-path="portfolio-1">
                            <img src="img/portfolio/portfolio-4.jpg" alt="Фото 4">
                        </button>
                    </div>
                    <div class="swiper-slide portfolio-slide">
                        <button class="portfolio-slide__btn btn btn-reset" data-graph-path="portfolio-1">
                            <img src="img/portfolio/portfolio-1.jpg" alt="Фото 1">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
