<section class="products section">
    <div class="container">
        <h3 class="products__title title-2">
            Продукция
        </h3>
        <div class="products__inner">

            <div class="tabs" data-tabs="products-tabs">
                <ul class="tabs__nav list-reset">
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn btn-reset" type="button">
                            Стандарт
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn btn-reset" type="button">
                            Бизнес
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn btn-reset" type="button">
                            Премиум
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn btn-reset" type="button">
                            Эксклюзив
                        </button>
                    </li>
                </ul>
                <div class="tabs__content">
                    <div class="tabs__panel">
                        <div class="swiper products-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide products-slide">
                                    <div class="products-slide__img">
                                        <img src="img/products-1.jpg" alt="Rehau Blitz New">
                                    </div>
                                    <div class="products-slide__content">
                                        <h3 class="products-slide__title">
                                            Rehau Blitz New1
                                        </h3>
                                        <p class="products-slide__descr">
                                            Сохраняют тепло в доме, защищают от шума
                                            и вписываются в любой интерьер.
                                            Практичный выбор
                                        </p>
                                        <ul class="products-slide__list list-reset">
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Системная глубина
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    60/60 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Ширина стеклопакета
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    24/31 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Воздушные камеры
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    3
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Теплосопротивление
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <div class="products-slide-item__dimension">
                                                    0,70 м2С/ВТ
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide products-slide">
                                    <div class="products-slide__img">
                                        <img src="img/products-1.jpg" alt="Rehau Blitz New">
                                    </div>
                                    <div class="products-slide__content">
                                        <h3 class="products-slide__title">
                                            Rehau Blitz New1
                                        </h3>
                                        <p class="products-slide__descr">
                                            Сохраняют тепло в доме, защищают от шума
                                            и вписываются в любой интерьер.
                                            Практичный выбор
                                        </p>
                                        <ul class="products-slide__list list-reset">
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Системная глубина
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    60/60 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Ширина стеклопакета
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    24/31 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Воздушные камеры
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    3
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Теплосопротивление
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <div class="products-slide-item__dimension">
                                                    0,70 м2С/ВТ
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide products-slide">
                                    <div class="products-slide__img">
                                        <img src="img/products-1.jpg" alt="Rehau Blitz New">
                                    </div>
                                    <div class="products-slide__content">
                                        <h3 class="products-slide__title">
                                            Rehau Blitz New1
                                        </h3>
                                        <p class="products-slide__descr">
                                            Сохраняют тепло в доме, защищают от шума
                                            и вписываются в любой интерьер.
                                            Практичный выбор
                                        </p>
                                        <ul class="products-slide__list list-reset">
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Системная глубина
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    60/60 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Ширина стеклопакета
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    24/31 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Воздушные камеры
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    3
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Теплосопротивление
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <div class="products-slide-item__dimension">
                                                    0,70 м2С/ВТ
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__panel">
                        <div class="swiper products-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide products-slide">
                                    <div class="products-slide__img">
                                        <img src="img/products-1.jpg" alt="Rehau Blitz New">
                                    </div>
                                    <div class="products-slide__content">
                                        <h3 class="products-slide__title">
                                            Rehau Blitz New2
                                        </h3>
                                        <p class="products-slide__descr">
                                            Сохраняют тепло в доме, защищают от шума
                                            и вписываются в любой интерьер.
                                            Практичный выбор
                                        </p>
                                        <ul class="products-slide__list list-reset">
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Системная глубина
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    60/60 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Ширина стеклопакета
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    24/31 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Воздушные камеры
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    3
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Теплосопротивление
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <div class="products-slide-item__dimension">
                                                    0,70 м2С/ВТ
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide products-slide">
                                    <div class="products-slide__img">
                                        <img src="img/products-1.jpg" alt="Rehau Blitz New">
                                    </div>
                                    <div class="products-slide__content">
                                        <h3 class="products-slide__title">
                                            Rehau Blitz New2
                                        </h3>
                                        <p class="products-slide__descr">
                                            Сохраняют тепло в доме, защищают от шума
                                            и вписываются в любой интерьер.
                                            Практичный выбор
                                        </p>
                                        <ul class="products-slide__list list-reset">
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Системная глубина
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    60/60 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Ширина стеклопакета
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    24/31 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Воздушные камеры
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    3
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Теплосопротивление
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <div class="products-slide-item__dimension">
                                                    0,70 м2С/ВТ
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide products-slide">
                                    <div class="products-slide__img">
                                        <img src="img/products-1.jpg" alt="Rehau Blitz New">
                                    </div>
                                    <div class="products-slide__content">
                                        <h3 class="products-slide__title">
                                            Rehau Blitz New2
                                        </h3>
                                        <p class="products-slide__descr">
                                            Сохраняют тепло в доме, защищают от шума
                                            и вписываются в любой интерьер.
                                            Практичный выбор
                                        </p>
                                        <ul class="products-slide__list list-reset">
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Системная глубина
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    60/60 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Ширина стеклопакета
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    24/31 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Воздушные камеры
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    3
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Теплосопротивление
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <div class="products-slide-item__dimension">
                                                    0,70 м2С/ВТ
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__panel">
                        <div class="swiper products-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide products-slide">
                                    <div class="products-slide__img">
                                        <img src="img/products-1.jpg" alt="Rehau Blitz New">
                                    </div>
                                    <div class="products-slide__content">
                                        <h3 class="products-slide__title">
                                            Rehau Blitz New
                                        </h3>
                                        <p class="products-slide__descr">
                                            Сохраняют тепло в доме, защищают от шума
                                            и вписываются в любой интерьер.
                                            Практичный выбор
                                        </p>
                                        <ul class="products-slide__list list-reset">
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Системная глубина
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    60/60 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Ширина стеклопакета
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    24/31 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Воздушные камеры
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    3
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Теплосопротивление
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <div class="products-slide-item__dimension">
                                                    0,70 м2С/ВТ
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide products-slide">
                                    <div class="products-slide__img">
                                        <img src="img/products-1.jpg" alt="Rehau Blitz New">
                                    </div>
                                    <div class="products-slide__content">
                                        <h3 class="products-slide__title">
                                            Rehau Blitz New
                                        </h3>
                                        <p class="products-slide__descr">
                                            Сохраняют тепло в доме, защищают от шума
                                            и вписываются в любой интерьер.
                                            Практичный выбор
                                        </p>
                                        <ul class="products-slide__list list-reset">
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Системная глубина
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    60/60 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Ширина стеклопакета
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    24/31 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Воздушные камеры
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    3
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Теплосопротивление
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <div class="products-slide-item__dimension">
                                                    0,70 м2С/ВТ
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide products-slide">
                                    <div class="products-slide__img">
                                        <img src="img/products-1.jpg" alt="Rehau Blitz New">
                                    </div>
                                    <div class="products-slide__content">
                                        <h3 class="products-slide__title">
                                            Rehau Blitz New
                                        </h3>
                                        <p class="products-slide__descr">
                                            Сохраняют тепло в доме, защищают от шума
                                            и вписываются в любой интерьер.
                                            Практичный выбор
                                        </p>
                                        <ul class="products-slide__list list-reset">
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Системная глубина
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    60/60 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Ширина стеклопакета
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    24/31 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Воздушные камеры
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    3
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Теплосопротивление
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <div class="products-slide-item__dimension">
                                                    0,70 м2С/ВТ
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__panel">
                        <div class="swiper products-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide products-slide">
                                    <div class="products-slide__img">
                                        <img src="img/products-1.jpg" alt="Rehau Blitz New">
                                    </div>
                                    <div class="products-slide__content">
                                        <h3 class="products-slide__title">
                                            Rehau Blitz New
                                        </h3>
                                        <p class="products-slide__descr">
                                            Сохраняют тепло в доме, защищают от шума
                                            и вписываются в любой интерьер.
                                            Практичный выбор
                                        </p>
                                        <ul class="products-slide__list list-reset">
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Системная глубина
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    60/60 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Ширина стеклопакета
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    24/31 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Воздушные камеры
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    3
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Теплосопротивление
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <div class="products-slide-item__dimension">
                                                    0,70 м2С/ВТ
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide products-slide">
                                    <div class="products-slide__img">
                                        <img src="img/products-1.jpg" alt="Rehau Blitz New">
                                    </div>
                                    <div class="products-slide__content">
                                        <h3 class="products-slide__title">
                                            Rehau Blitz New
                                        </h3>
                                        <p class="products-slide__descr">
                                            Сохраняют тепло в доме, защищают от шума
                                            и вписываются в любой интерьер.
                                            Практичный выбор
                                        </p>
                                        <ul class="products-slide__list list-reset">
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Системная глубина
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    60/60 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Ширина стеклопакета
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    24/31 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Воздушные камеры
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    3
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Теплосопротивление
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <div class="products-slide-item__dimension">
                                                    0,70 м2С/ВТ
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide products-slide">
                                    <div class="products-slide__img">
                                        <img src="img/products-1.jpg" alt="Rehau Blitz New">
                                    </div>
                                    <div class="products-slide__content">
                                        <h3 class="products-slide__title">
                                            Rehau Blitz New
                                        </h3>
                                        <p class="products-slide__descr">
                                            Сохраняют тепло в доме, защищают от шума
                                            и вписываются в любой интерьер.
                                            Практичный выбор
                                        </p>
                                        <ul class="products-slide__list list-reset">
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Системная глубина
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    60/60 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Ширина стеклопакета
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    24/31 мм
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Воздушные камеры
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <span class="products-slide-item__dimension">
                                                    3
                                                </span>
                                            </li>
                                            <li class="products-slide__item products-slide-item">
                                                <span class="products-slide-item__name">
                                                    Теплосопротивление
                                                </span>
                                                <span class="products-slide-item__line"></span>
                                                <div class="products-slide-item__dimension">
                                                    0,70 м2С/ВТ
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
