.custom-checkbox-primary {
    position: relative;

    &__field {
        appearance: none;
        position: absolute;
    }

    &__content {
        display: block;
        padding-left: 35px;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            border: 1px solid #000;
            width: var(--checkbox-width);
            height: var(--checkbox-height);
            box-sizing: border-box;
            transition: border $transitionSpeed $transitionFunction;
        }

        &::after {
            content: "";
            position: absolute;
            left: 5px;
            bottom: 6px;
            width: var(--checkbox-width);
            height: var(--checkbox-height);
            box-sizing: border-box;
            background-image: url("../img/mark-check.svg");
            background-position: center;
            background-size: 20px 21px;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity $transitionSpeed $transitionFunction;
        }
    }
}

.custom-checkbox-primary__field:checked+.custom-checkbox-primary__content::after {
    opacity: 1;
}

.custom-checkbox-primary__field:disabled+.custom-checkbox-primary__content {
    opacity: 0.4;
    pointer-events: none;
}

.custom-checkbox-primary__field:focus+.custom-checkbox-primary__content::before {
    border: 1px solid $orangeHoverColor;
}

.custom-checkbox-primary__field:hover+.custom-checkbox-primary__content::before {
    border: 1px solid $orangeHoverColor;
}


.custom-checkbox-primary {
    --checkbox-width: 25px;
    --checkbox-height: 25px;
}
