.btn {
    transition: color $transitionSpeed $transitionFunction,
        background-color $transitionSpeed $transitionFunction,
        border $transitionSpeed $transitionFunction;
    border: none;

    &--primary {
        background-color: $orangeColor;
        color: $whiteColor;
        font-weight: 700;
        font-size: 13px;
        line-height: math.div(15, 13);
        padding: 12px 19px 13px;
        border-radius: 3px;
        outline: none;

        &:hover {
            background-color: $orangeHoverColor;
        }

        &:focus {
            background-color: $orangeHoverColor;
        }
    }

    &--secondary {
        background-color: $purpleSecondaryColor;
        color: $whiteColor;
        font-weight: 700;
        font-size: 13px;
        line-height: math.div(15, 13);
        padding: 12px 23px 13px;
        border-radius: 3px;
        outline: none;

        &:hover {
            background-color: $blueColor;
        }

        &:focus {
            background-color: $blueColor;
        }
    }

    &--icon {
        display: flex;
        align-items: center;

        svg {
            width: 20px;
            height: 18px;
            stroke: #fefefe;
            fill: none;
            margin-right: 13px;
        }
    }
}

.title-1 {
    font-size: 36px;
    line-height: math.div(42, 36);
    color: $whiteColor;

    span {
        color: $orangeColor;
        font-weight: 700;
        font-size: 24px;
        line-height: math.div(28, 24);
    }
}

.title-2 {
    font-weight: 700;
    font-size: 24px;
    line-height: math.div(28, 24);
    text-align: center;
}

.section {
    margin-top: 100px;

    @media (max-width:$smallTablet) {
        margin-top: 50px;
    }
}


.form-primary {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: $purpleColor;
        text-align: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        margin-top: 27px;
    }

    &__label {
        &:not(:first-child) {
            margin-top: 15px;
        }
    }

    &__input {
        width: 100%;
        background-color: #e2e2e2;
        border-radius: 3px;
        border: none;
        font-size: 14px;
        line-height: math.div(16, 14);
        padding: 12px 16px;
        color: #424268;
        outline: none;

        &::placeholder {
            color: #424268;
        }

        &:focus {
            background-color: lighten($orangeHoverColor, 35%);
        }
    }

    &__checkbox {
        margin-top: 13px;

        .custom-checkbox-primary__content {
            font-size: 12px;
            line-height: math.div(14, 12);
            color: $blackColor;

            span {
                color: #4B67AF;
            }
        }
    }

    &__btn {
        margin-top: 20px;
        align-self: center;
        padding: 19px 40px;
    }
}
