// main
$fontFamily: "Roboto";
$fontSize: 14;
$minWidth: 320;
$maxWidth: 1920;
$contentWidth: 1200;
$containerOffset: 15;
$containerWidth: calc($contentWidth + ($containerOffset * 2));



// main colors
$bodyColor: #fff;
$mainColor: #2F2F51; // Цвет шрифта по умолчанию


// additional colors
$blackColor: #000;
$whiteColor: #fff;
$orangeColor: #EF7F04;
$orangeHoverColor: rgb(247, 142, 30);
$purpleColor: #2F2F51;
$purpleSecondaryColor: #3B3A63;
$purpleSecondaryHoverColor: #484699;



// others vars
$transitionSpeed: 0.3s;
$transitionFunction: ease-in-out;







// break points
$desktop: $containerWidth+px;
$tablet: 1024px;
$smallTablet: 768px;
$mobile: 576px;
